* {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0)
}

/* -------------------- 标签页栏 ---------------------------- */

ads--CDockWidgetTab[activeTab="true"] {
    background-color: {{general_splitter_color}};
    /* border-radius: 4px; */
}

ads--CDockWidgetTab[activeTab="false"]:hover {
    background-color: {{title_edit_background_color}};
    /* border-radius: 4px; */
}

ads--CDockWidgetTab QLabel {
    font-family: "Maple Mono NF CN";
    font-size: {{tab_label_font_size}};
    font-weight: {{tab_label_font_weight}};
}

ads--CDockWidgetTab[activeTab="true"] QLabel {
    color: {{window_background_color}}
}

/* -------------------- 主窗口的整体容器 ---------------------------- */

ads--CDockContainerWidget {
    border-left: 1px solid {{general_splitter_color}};
}

ads--CDockContainerWidget[mainWindow="false"] {
    border-left: 0px
}

/* -------------------- 标签页之间的把手 ---------------------------- */

ads--CDockSplitter::handle {
    background-color: {{general_splitter_color}};
    height: 1px;
    width: 1px;
}