/* -------------------- 全局属性 ---------------------------- */
* {
    background-color: rgba(0, 0, 0, 0);
    color: {{default_text_color}};
}

/* -------------------- 窗口设置 ---------------------------- */
#WindowBase[BackgroundImage="True"] {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("{{background_images}}");
}

#WindowBase[BackgroundImage="False"] {
    background-color: {{window_background_color}};
}

/* -------------------- 背景滤镜 ---------------------------- */
#BackgroundFilter[BackgroundImage="True"] {
    /* background-color: {{background_filter_color}}; */
    background: qradialgradient(
        cx:0.5, cy:0.5,
        radius:0.5,
        fx:0.5, fy: 0.5,
        stop:0.5 {{background_filter_color}},    
        stop:1 {{window_background_color}}           
    );
}

#BackgroundFilter[BackgroundImage="False"] {
    background-color: rgba(0, 0, 0, 0);
}

/* -------------------- 按钮设置 ---------------------------- */

/* 标题栏按钮的通用设置 */
QPushButton { 
    margin: 0px;
    border: 0px;
    padding: 0px 10px;
    margin-bottom: 5px;
}
QPushButton:pressed {
    padding-top: 10px;
    padding-bottom: 6px;
}

/* 关闭按钮 */
QPushButton#TitleBarClose:hover {
    background-color: {{close_button_hover_color}};
}
QPushButton#TitleBarClose:pressed {
    background-color: {{close_button_pressed_color}};
}

/* 其他按钮 */
QPushButton#TitleBarButton:hover {
    background-color: {{titlebar_button_hover_color}};
}
QPushButton#TitleBarButton:pressed {
    background-color: {{titlebar_button_pressed_color}};
}

/* -------------------- 标题栏设置 ---------------------------- */
#TitleBar {
    margin: 0;
    border: 0;
    padding: 0;
}
