/* -------------------- 全局属性 ---------------------------- */
* {
    background-color: rgba(0, 0, 0, 0);
    color: {{default_text_color}};
}

/* -------------------- 按钮设置 ---------------------------- */

/* 标题栏按钮的通用设置 */
QPushButton { 
    margin: 0px;
    border: 0px;
    padding: 0px 10px;
    font-family: "Segoe Fluent Icons";
    font-size: 10pt;
    color: {{default_text_color}}
}
QPushButton:pressed {
    padding-top: 10px;
    padding-bottom: 6px;
}

/* 关闭按钮 */
QPushButton#TitleBarClose:hover {
    background-color: {{close_button_hover_color}};
}
QPushButton#TitleBarClose:pressed {
    background-color: {{close_button_pressed_color}};
}

/* 其他按钮 */
QPushButton#TitleBarButton:hover {
    background-color: {{titlebar_button_hover_color}};
}
QPushButton#TitleBarButton:pressed {
    background-color: {{titlebar_button_pressed_color}};
}

/* -------------------- 标题栏设置 ---------------------------- */
#TitleBar {
    margin: 0;
    border: 0;
    padding: 0;
    border-bottom: 1px solid {{general_splitter_color}};
}

/* -------------------- 窗口标题 ---------------------------- */

#TitleLabel {
    font-family: 'Maple Mono NF CN';
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    background-color: {{title_edit_background_color}};
}

#TitleLabel:read-only {
    background-color: rgba(0, 0, 0, 0);
}

#TitleLabel:hover {
    background-color: {{title_edit_background_color}};
}

#TitleLabel:disabled {
    background-color: rgba(0, 0, 0, 0);
}