/* -------------------- 全局属性 ---------------------------- */
* {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}

/* -------------------- 分割区域 ---------------------------- */
#Splitter {
    border-top: 1px solid {{general_split_line_color}};
}

#Splitter::handle {
    width: 0px;
}

/* -------------------- 树视图和对话区域的分界线 ---------------------------- */
#TreeArea {
    border-right: 1px solid {{general_split_line_color}};
}

#TalkArea {
    border-left: 1px solid {{general_split_line_color}};
}

/* -------------------- 输入区域 ---------------------------- */
#InputArea {
    background-color: {{input_area_backgournd_color}};
    border: 1px solid {{input_area_boarder_color}};
    border-radius: 8px;
}

#InputTextedit {
    font-size: 14px;
}

#InputSendButton {
    background-color: {{input_button_background_color}};
    font-size: 20px;
    border: 1px solid {{input_button_boarder_color}};
    border-radius: 4px;
    padding: 2px 12px;
}

#InputSendButton:hover {
    background-color: {{input_button_hover_background_color}};
    font-size: 20px;
}

#InputSendButton:pressed {
    background-color: {{input_button_pressed_background_color}};
    font-size: 16px;
}

/* -------------------- 滚动消息区域 ---------------------------- */
/* 角色标签 */
#ConversionItemRoleLabel {
    font-weight: bold;
    font-family: 'Maple Mono NF CN';
    font-size: 14px;
    padding-right: 5px;
}

#ConversionItemRoleLabel[role="user"] {
    color: {{role_user_normal_color}};
    border-right: 2px solid {{role_user_extra_color}};
}

#ConversionItemRoleLabel[role="assistant"] {
    color: {{role_assistant_normal_color}};
    border-right: 2px solid {{role_assistant_extra_color}};
}

#ConversionItemRoleLabel[role="tool"] {
    color: {{role_tool_normal_color}};
    border-right: 2px solid {{role_tool_extra_color}};
}

#ConversionItemRoleLabel[role="system"] {
    color: {{role_system_normal_color}};
    border-right: 2px solid {{role_system_extra_color}};
}

#ConversionItemRoleLabel[role="error"] {
    color: {{role_error_normal_color}};
    border-right: 2px solid {{role_error_extra_color}};
}

/* 内容正文框 */
#ConversionItemContentBlock {
    font-size: 15px;
}

#ConversionItemContentBlock:enabled {
    border-radius: 4px;
    background-color: {{conversion_item_editing_background_color}};
}

/* 思考内容框 */
#ConversionItemReasoningContentBlock {
    font-size: 10px;
    color: {{conversion_item_reasoning_content_color}};
}

#ConversionItemReasoningContentBlock[role="tool"] {
    font-size: 15px;
    color: {{role_tool_extra_color}};
    font-family: 'Maple Mono NF CN';
}

/* 按钮 */
#ConversionItemButton {
    padding: 4px;
    border-radius: 4px;
    font-family: 'Maple Mono NF CN';
}

#ConversionItemButton:hover {
    background-color: {{conversion_item_button_hover_color}};
}

#ConversionItemButton:pressed {
    background-color: {{conversion_item_button_pressed_color}};
    padding-top: 8px;
    padding-bottom: 0px;
}

/* --------------------对话标题---------------------------- */

#TitleLabel {
    font-family: 'Maple Mono NF CN';
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    background-color: {{title_edit_background_color}};
}

#TitleLabel:read-only {
    background-color: rgba(0, 0, 0, 0);
}

#TitleLabel:hover {
    background-color: {{title_edit_background_color}};
}

/* --------------------状态标志---------------------------- */

#StateLabel {
    margin: 0px 10px;
    padding: 2px 8px;
    border-radius: 8px;
    font-family: 'Maple Mono NF CN';
    background-color: {{state_label_background_color}};
    font-weight: bold;
}

#StateLabel:hover {
    background-color: {{state_label_hover_color}};
}

#StateLabel[state='空闲'] {
    color: {{state_idle_color}};
}

#StateLabel[state='连接API服务中...'] {
    color: {{state_connect_color}};
}

#StateLabel[state='传输信息流中...'] {
    color: {{state_transport_color}};
}

/* --------------------工作目录栏---------------------------- */

#WorkPathBar {
    /* border-bottom: 1px solid {{general_split_line_color}}; */
    color: {{work_path_color}};
}

/* --------------------浮动窗口---------------------------- */


#TreeFloatWindowRole {
    font-weight: bold;
    font-family: 'Maple Mono NF CN';
    font-size: 14px;
    padding-right: 5px;
    color: {{float_window_button_text_color}};
}

#TreeFloatWindowContent {
    margin: 0px 10px;
    color: {{float_window_button_text_color}};
}

#FloatWindowFunctionArea {
    border-top: 1px solid {{float_window_split_color}};
    border-bottom: 1px solid {{float_window_split_color}};
}

#FloatWindowFunctionButton {
    padding: 8px 0px;
    border-radius: 8px;
    font-weight: bold;
    color: {{float_window_button_text_color}};
}

#FloatWindowFunctionButton:hover {
    background-color: {{float_window_button_hover_color}};   
}

#FloatWindowFunctionButton:pressed {
    padding-top: 12px;
    background-color: {{float_window_button_pressed_color}};   
}